*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  text-align: center;
  padding: 1rem 2rem;
  color:azure;
  font-size: 2rem;
  font-weight: bolder;
  background-color: red;
}
